<% breadcrumb :models %>
<section id="model_main">
	<ul class="media-list">
	<% unless @models.empty? %>
	<% @models.each do |model| %>
  	<li class="media" itemscope itemtype="http://schema.org/Person">
  	<%=link_to model_path(model),:class=>"pull-left" do %>
    	<%=image_tag model.photo.small_thumb,:itemprop=>"image" %>
    <% end %>
    <div class="media-body">
      <h4 class="media-heading" itemprop="name"><%=link_to model.title,model_path(model) %></h4>
			<%=link_to model_path(model) do %>
     	<p itemprop="description"><%= simple_format(model.models_comment) %></p>
			<% end %>
    </div>
  	</li>
	<% end %>
	<% else %>
	<li><%=t(:no_data) %></li>
	<% end %>
</ul>
<div id="sl_bottom_menu">
	<%= link_to t(:link_new),new_model_path %>
	<%= paginate @models %>
</div>
</section>
