<% breadcrumb :models %>
<section id="model_main">
	<ul class="media-list">
	<% unless @models.empty? %>
	<% @models.each do |model| %>
  	<li class="media" itemscope itemtype="http://schema.org/Person">
  	<%=link_to model_path(model) do %>
    	<%=image_tag model.photo.medium_thumb.url,:itemprop=>"image",:class=>"mr-3" %>
    <% end %>
    <div class="media-body">
      <h4 class="media-heading" itemprop="name"><%=link_to model.title,model_path(model) %></h4>
			<%=link_to model_path(model) do %>
     	<p itemprop="description"><%= simple_format(model.models_comment) %></p>
			<% end %>
			<div class="vote pull-right">
			<% if user_signed_in? %>
			<%= link_to like_model_path(model), method: :put do %>
				<span class="glyphicon glyphicon-thumbs-up<% if current_user.voted_for? model %> already-vote<% end %>"><span><%=model.cached_votes_up %></span></span>
			<% end %>
			<% else %>
			<%= link_to like_model_path(model), {method: :put, :class=>"confirm_login"} do %>
				<span class="glyphicon glyphicon-thumbs-up"><span><%=model.cached_votes_up %></span></span>
			<% end %>
			<% end %>
		</div>
    </div>
  	</li>
	<% end %>
	<% else %>
	<li><%=t(:no_data) %></li>
	<% end %>
</ul>
<div id="sl_bottom_menu">
	<%= link_to t(:link_new),new_model_path %>
	<%= paginate @models %>
</div>
</section>
