<div class="sl_show">
	<p>
		<b><%=t(:title,scope:[:activerecord,:attributes,:propose]) %></b>
		<%= @model.title %>
	</p>
	<p>
		<b><%=t(:enable,scope:[:activerecord,:attributes,:propose]) %></b>
		<%=raw flagToString(@model.enable) %>
	</p>
	<p>
  	<b><%=t(:label_created_at) %></b>
  	<%= @model.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @model.created_at %>
  </p>
</div>
<% if can? :update, Report %>
<%= link_to t(:link_edit), edit_admin_model_path(@model) %> |
<% end %>
<%= link_to t(:link_list), admin_models_path %>
