<div id="main_user">
	<% unless @users.empty? %>
	<% @users.each do |user| %>
	<article class="users media" itemscope itemtype="http://schema.org/Person">
		<div class="media-left">
		<% if user.photo? %>
		<%=link_to image_tag(user.photo.small_thumb,:alt=>user.name),user.photo.large_thumb.url,:class=>'simple_image media-object',:title=>user.name,:itemprop=>"image" %>
		<% else %>
		<%=image_tag 'anon.png',:alt=>user.name,:itemprop=>"image",:class=>"media-object" %>
		<% end %>
		</div>
		<div class="media-body">
			<h4 itemprop="name" class="media-heading"><%=link_to user.name,user_path(user) %></h4>
			<p itemprop="description"><%=user.description %></p>
			<div class="vote pull-right">
			<%= link_to like_user_path(user), method: :put do %>
				<span class="glyphicon glyphicon-thumbs-up"><span><%=user.cached_votes_up %></span></span>
			<% end %>
			<!-- <%= link_to dislike_user_path(user), method: :put do %>
				<span class="glyphicon glyphicon-thumbs-down"><span><%=user.cached_votes_down %></span></span>
			<% end %> -->
		</div>
		</div>
	</article>
	<% end %>
	<% else %>
	<p><%=t(:no_data) %></p>
	<% end %>
	<div class="row">
	<div id="sign_up" class="col-xs-12">
		<span class="label label-info"><%=@user_count %></span> 명이 서명하였습니다.
		<% unless user_signed_in? %> &nbsp;&nbsp;
		<%=link_to new_user_registration_path do %>
		<b><%=t(:sign) %></b>
		<% end %>
		<% end %>
	</div>
	<%= paginate @users %>
	</div>
	<%=link_to t(:link_more),users_path,:class=>'more' %>
</div>
