<div class="sl_show">
	<p>
		<b><%=t(:title,scope:[:activerecord,:attributes,:propose]) %></b>
		<%= @improve.title %>
	</p>
	<p>
		<b><%=t(:enable,scope:[:activerecord,:attributes,:propose]) %></b>
		<%=raw flagToString(@improve.enable) %>
	</p>
	<p>
  	<b><%=t(:label_created_at) %></b>
  	<%= @improve.created_at %>
  </p>
  <p>
  	<b><%=t(:label_updated_at) %></b>
  	<%= @improve.created_at %>
  </p>
</div>
<% if can? :update, Report %>
<%= link_to t(:link_edit), edit_admin_improve_path(@improve) %> |
<% end %>
<%= link_to t(:link_list), admin_improve_index_path %>
