<section id="sl_find_password" class="col-xs-12">
	<h2>비밀번호 재발급</h2>
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
  	<%= devise_error_messages! %>
  	<div class="form-group">
			<%= f.label :email,'이메일' %><br />
  		<%= f.email_field :email,:class=>'form-control',:required=>'required' %>
		</div>
  	<div class="form-group">
			<%= f.submit '비밀번호 재발급' %>
		</div>
	<% end %>
	<%= render :partial => 'users/shared/links' %>
</section>
