<% breadcrumb :reports %>
<section id="report_main">
	<article class="table-responsive">
  <table width="100%" cellpadding="0" cellspacing="0" class="table slboard_list">
    <colgroup>
      <col style="width:10%" />
      <col style="wdith:20%" />
      <col />
      <col style="wdith:20%" />
      <col style="wdith:20%" />
    </colgroup>
		<thead>
			<tr>
				<th><p class="sl_name"><%=t(:label_name) %></p></th>
				<th><p class="sl_category"><%=t(:label_report_category) %></p></th>
				<th><p class="sl_title"><%=t(:label_title) %></p></th>
				<th class="sl_right"><p class="sl_count"><%=t(:label_count) %></p></th>
				<th class="sl_right"><p class="sl_registered_date"><%=t(:label_created_at) %></p></th>
			</tr>
		</thead>
		<tbody>
		  <% unless @reports.empty? %>
		  <% @reports.each do |report| %>
  		<tr>
				<td><p class="sl_name"><%=report.user.name %></p></td>
				<td><p class="sl_category"><%=report.report_category.title %></p></td>
				<td><p><%= link_to report.title.truncate(25), report %></p></td>
				<td class="sl_right"><p class="sl_count"><%=report.impressionist_count(:filter=>:ip_address) %></p></td>
				<td class="sl_right"><p class="sl_registered_date"><%=report.created_at.to_date %></p></td>
  		</tr>
			<% end %>
  		<% else %>
  			<tr>
  				<td colspan="4"><p><%=t(:no_data) %></p></td>
  			</tr>
			<% end %>
		</tbody>
	</table>
	</article>
	<div id="sl_bottom_menu">
		<%= link_to t(:link_new),new_report_path %>
		<%= paginate @reports %>
	</div>
</section>
