<% breadcrumb :reports %>
<article id="report_main" class="table-responsive">
	<table class="table slboard_list">
		<colgroup>
			<col style="width:10%"/>
			<col style="wdith:20%"/>
			<col/>
			<col style="wdith:20%"/>
			<col style="wdith:20%"/>
		</colgroup>
		<thead>
			<tr>
				<th><%=t(:user_id,scope:[:activerecord,:attributes,:report]) %></th>
				<th><%=t(:report_category_id,scope:[:activerecord,:attributes,:report]) %></th>
				<th><%=t(:title,scope:[:activerecord,:attributes,:report]) %></th>
				<th class="sl_right sl_count"><%=t(:label_count) %></th>
				<th class="sl_right sl_registered_date"><%=t(:label_created_at) %></th>
			</tr>
		</thead>
		<tbody>
			<% unless @reports.empty? %>
			<% @reports.each do |report| %>
			<tr>
				<td><%=report.user.name %></td>
				<td><%=report.report_category.title %></td>
				<td><%=link_to report.title.truncate(25), report %></td>
				<td class="sl_right sl_count"><%=report.default_view_count+report.impressionist_count(:filter=>:ip_address) %></td>
				<td class="sl_right sl_registered_date"><%=report.created_at.to_date %></td>
			</tr>
			<% end %>
		<% else %>
			<tr>
				<td colspan="5"><%=t(:no_data) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</article>
<div id="sl_bottom_menu">
	<%= link_to t(:link_new),new_report_path %>
	<%= paginate @reports %>
</div>
