<header>
	<div class="container">
		<% unless current_page? root_path %>
			<div  id="top_menu" class="col-xs-12">
				<ul>
					<% if user_signed_in? %>
					<li><%=link_to(current_user.name, edit_user_registration_path) %>님 환영합니다.</li>
					<li><%= link_to t(:logout),destroy_user_session_path %></li>
					<% else %>
					<li><%= link_to t(:login),new_user_session_path %></li>
					<li><%= link_to t(:sign),new_user_registration_path %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<div class="row">
			<h1 class="col-xs-12 col-sm-3"><%= link_to t(:home_title),root_path %></h1>
			<nav>
				<ul class="nav nav-pills">
					<li <% if params[:controller]=='reports' %>class="active"<% end %>><%= link_to reports_path do %><%=t(:report,scope:[:activerecord,:models]) %><span class="visible-xs glyphicon glyphicon-chevron-right pull-right"></span><% end %></li>
					<li <% if params[:controller]=='compliments' %>class="active"<% end %>><%= link_to compliments_path do %><%=t(:compliment,scope:[:activerecord,:models]) %><span class="visible-xs glyphicon glyphicon-chevron-right pull-right"></span><% end %></li>
					<li <% if params[:controller]=='faqs' %>class="active"<% end %>><%= link_to faqs_path do %><%=t(:faq,scope:[:activerecord,:models]) %><span class="visible-xs glyphicon glyphicon-chevron-right pull-right"></span><% end %></li>
					<li class="dropdown<% if params[:controller]=='proposes' || params[:controller]=='models' || params[:controller]=='improve' %> active<% end %>">
						<%=link_to '#',{:class=>"dropdown-toggle dropmenu",:'data-toggle'=>"dropdown"} do %>
						<%=t(:menu_propose) %>
						<span class="caret"></span>
						<% end %>
						<ul	class="dropdown-menu">
							<li <% if params[:controller]=='proposes' %>class="active"<% end %>><%= link_to proposes_path do %><%=t(:propose,scope:[:activerecord,:models]) %><span class="visible-xs glyphicon glyphicon-chevron-right pull-right"></span><% end %></li>
							<li <% if params[:controller]=='models' %>class="active"<% end %>><%= link_to models_path do %><%=t(:model,scope:[:activerecord,:models]) %><span class="visible-xs glyphicon glyphicon-chevron-right pull-right"></span><% end %></li>
							<li <% if params[:controller]=='improve' %>class="active"<% end %>><%= link_to new_improve_path do %><%=t(:improve,scope:[:activerecord,:models]) %><span class="visible-xs glyphicon glyphicon-chevron-right pull-right"></span><% end %></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
