<!DOCTYPE html>
<html lang="<%=I18n.locale %>">
<head>
	<meta charset="utf-8" />
	<%=display_meta_tags :site => t(:application_name),
	:title=>@title,
	:description => @meta_description,
	:keywords => @meta_keywords,
	:separator => t(:title_separator),
	:viewport => "width=device-width, initial-scale=1.0, user-scalable=no",
	:reverse => true %>
	<%=display_meta_tags og: {
  	title:   @title,
  	description: @meta_description,
  	url:      @meta_url,
  	image:    @meta_image
	}
	%>
	<meta name="author" content="Sleeping-Lion" />
	<link rel="shortcut icon" href="<%=asset_path('favicon.ico') %>" />
	<%= stylesheet_link_tag "application", :media=>"all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<![endif]-->
</head>
<body>
	<%= render :partial => 'layouts/header' %>
	<div id="mom">
		<section id="main" class="container">
		<% if current_page?(root_path) %>
		<figure id="main_img" class="hidden-xs">
			<%=image_tag "main_back.png",:alt=>"좃같은 세상 KB가 만들어 갑니다." %>
		</figure>		
		<%= render :partial => 'layouts/aside' %>			
		<% else %>
		<%= render :partial => 'layouts/page_header' %>
		<% end %>		
		<section <% if current_page?(root_path) %>id="main_main"<% else %>class="sub_main"<% end %>>
			<%=yield %>
			<div class="clearfix">&nbsp;</div>		
		</section>			
	</section>
	</div>
	<%= render :partial => 'layouts/footer' %>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
	<%= javascript_include_tag @script, "data-turbolinks-track" => true %>
	</body>
</html>
