<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <%= display_meta_tags :site => t(:application_name),
                        :title => @title,
                        :description => @meta_description,
                        :keywords => @meta_keywords,
                        :separator => t(:title_separator),
                        :viewport => "width=device-width, initial-scale=1, user-scalable=yes",
                        :reverse => true %>
  <%= display_meta_tags og: {
    title: @title,
    description: @meta_description,
    url: @meta_url,
    image: @meta_image
  } %>
  <meta name="author" content="Sleeping-Lion"/>
  <link rel="alternate" type="application/rss+xml" title="Anti-KB RSS Feed" href="https://www.antikb.site/feed?format=rss"/>
  <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
  <![endif]-->
</head>
<body itemscope itemtype="<%= @page_itemtype %>" id="special-page"
<% if params[:popup].present? %> class="popup_page"
<% end %>>
<div class="container">
  <div class="row">
    <h1 class="col-12"><%= link_to t(:home_title), root_path %></h1>
    <% unless params[:popup].present? %>
      <%= render :partial => 'layouts/ad' %>
    <% end %>
  </div>
    <div class="row">
      <%= render :partial => 'layouts/notice', :locals=>{:notice=>notice,:alert=>alert} %>
    </div>
  <div class="row">
    <%= yield %>
  </div>
</div>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
